<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DEMO - <%= component_name %></title>
    <link href="../../lib/res-base/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <script src="../../lib/regularjs/dist/regular.js"></script>
    <script src="../../lib/nej/src/define.js?pool=../../lib/"></script>
    <script>
        NEJ.define([
            '../../src/<%= component_name %>/module.js'
        ],function(m){
            // TODO
        });
    </script>
  </body>
</html>
