<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Module System - <%= component_name %></title>
    <link href="../../lib/res-base/css/style.css" rel="stylesheet" />
  </head>

  <body>

    <script>
        location.config = {
            root: '../../../'
        };
    </script>
    <script src="../../lib/regularjs/dist/regular.js"></script>
    <script src="../../lib/nej/src/define.js?pool=../../lib/"></script>
    <script>
        NEJ.define([
            'util/dispatcher/dispatcher',
            'pool/cache-base/src/setting',
            'pool/cache-config/src/2b/org',
            '../../src/config.js'
        ], function(d, s, json, conf) {
            s.batch(json);
            d._$startup(conf);
        });
    </script>
  </body>

</html>
